*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

.contact-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: max(4.5%, 20px);
}

.contact-tittle{
	font-family: Raleway;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 49px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #1F1F1F;
	padding: max(3.5%, 36px) 0;
}

.contact-description{
	font-family: Raleway;
	font-size: 32px;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 0.04em;
	text-align: right;
	padding-bottom:36px;
	color:#1F1F1F;
}

.contact-form{
	width: 100%;
	display: grid;
	grid-template-columns: 20% 60%;
	grid-template-rows: repeat(4, 1fr);
	justify-items: flex-start;
	align-items: center;
	justify-content: center;
	padding: 0 max(25%, 20px);
}

.label{
	color:#1F1F1F;
	width: fit-content;
	display: flex;
	padding:  18px 0 ;
	font-family: Inter;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0.04em;
	text-align: left;
	align-content: center;
	
}

.input {
	border: none;
	border-bottom: solid 2px #FF3333;
	width: 250px;
	outline: none;		
	justify-self: center;
}

.input-message{
	width: 100%;
	height: 100px;
	resize: none;
	border: solid 2px #FF3333;
}

.input::placeholder, .input-message::placeholder {
	color: #B9B9B9;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 2.1rem;
	line-height: 19px;
	text-align: left;
	letter-spacing: 0.04em;
	padding: 5px;
}

input[type=text] {
    text-align: left;
    color: #333333;
	padding: 0 5px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 2.1rem;
}

.submit-send{
	width: 180px;
	height: 50px;
	background-color: #FF3333;
	border: none;
	color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 15px;
	text-align: center;
	align-self: center;
	margin: 20px 0px;
}