*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	background-color: #30343F;
	display: flex;	
	padding: 30px;
}

#logo{
	align-self: flex-start;
	width: 50%;
}

.container{
	display: flex;
	flex-direction: row;	
	width: 50%;	
	justify-content: space-around;
	
}

.menus{
	display:flex;
	flex-direction: row;	
	align-items: center;
	gap: 49px;	
	list-style: none;
	background-color: #30343F;
	color: #FFFFFF;
	border: 0px;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}

.arrow {
	width: 0.5em;
	height: 0.5em;
	display: inline-block;
	vertical-align: middle;
	border-left: 0.15em solid currentColor;
	border-bottom: 0.15em solid currentColor;
	transform: rotate(-45deg);
	margin-left: 0.38em;
	margin-top: -0.25em;
}

  button{
	background-color: transparent;
	border:0;
	color: white;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}

.container-main1{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	background-image: url(../multimedia/funkos-banner.webp);
	height: 388px;
	background-color: #C4C4C4;
	background-size: cover;
	background-position: 50% 75%;
	background-repeat: no-repeat;	
}

.blur{
	width: 100%;
	backdrop-filter:blur(3px);	
}

.container-main-items{
	filter: none;
	color:white;
	margin: 108px;
	

}

.container-main-items::first-line{
	font-family: 'Raleway';
	font-size: 38px;
	font-weight: 700;
	line-height: 45px;
	letter-spacing: 0em;	
}

.container-main-items p{
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;	
	margin: 7px;
}

.container-main-items button{
	width: 211px;
	height: 47px;
	margin-top: 48px;
	background-color: white;
	border-radius: 50px;
	padding: 11px;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	color: #111111;
	text-align: center;
}

.container-main2{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.container-main2 div{
	width: 50%;
}

.container-main-item1{
	font-family: Raleway;	


}

.container-main-item2{
	
}