* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

.header {
	background-color: #30343F;
	height: 144px;
	max-width: 100vw;
}

.header-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 100vw;
	height: 144px;
	padding-left: max(7.5%, 20px);
	padding-right: max(7.5%, 20px);	
	align-items: center;
	column-gap: 80px;
	grid-template-areas: 
	"logo nav"
	;
}

.header-nav{
	max-width:100%;
	height: 144px;
    display: flex;
    align-items: center;
	justify-content: flex-end;
}

.header-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-area: logo;
}

.logo {
	max-width: 100%;
	height: auto;
}

.header-links {
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 39px;
	list-style: none;
	grid-area:nav;
}

.header-dropdown{
	display:none;
}

.header-item, .header-item:hover {
	text-decoration: none;
	color: white;
	border: 0px;
	font-family: 'Raleway';
	font-size: 2rem;
	font-weight: 500;
	line-height: 23px;
}

.header-cart-icon {
	width: 34px;
	height: 24px;
}

.dropdown-toggle {
	background-color: #30343F;
	border: none;
	color: #FFFFFF;
	font-family: 'Raleway';
	font-size: 2rem;
	font-weight: 500;
	line-height: 23px;
	width: 77px;
}

@media screen and (max-width: 993px) and (min-width: 689px) {

	html{
		font-size: 55%;
	}

	.header{
		height:max(80px, 15vw);
	}

	.header-container{
		height:max(80px, 15vw);
		gap:0;
	}

	.logo{
		max-width: 100%;
		height: auto;
	}

	.header-links{
		display:none;
	}

	.header-dropdown{
		display:flex;
		justify-content: flex-end;
		align-items: center;
		grid-area: nav;
		width:100%;
		height:max(80px, 15vw);
	}

	.header-nav{
		display:none;
	}

	.dropdown-menu{
		position: absolute;
		top: 70%;
		text-align: right;
		width: 200px;
		height: 200px;
		left: auto;
	}

	.dropdown-menu .header-item{
		font-size: 3rem;
	}

	.dropdown-icon{
		max-width: 60px;
	}
}

@media screen and (max-width: 688px) and (min-width:510px) {

	html{
		font-size: 45%;
	}

	.header{
		height:max(80px, 15vw);
	}

	.header-container{
		height:max(80px, 15vw);
		gap: 0;
		justify-items: end;
	}

	.header-logo{
		max-width: 100%;
		height: auto;
		justify-self: flex-start;
	}

	.header-dropdown{
		display:flex;
		justify-content: flex-end;
		align-items: center;
		grid-area: nav;
		width:fit-content;
		height:max(80px, 15vw);
	}

	.dropdown-menu{
		top: 70%;
		text-align: right;
		width: 130px;
		height: 130px;
		left: auto;
		right: 10%;
	}

	.dropdown-menu .header-item{
		font-size: 2.3rem;
	}

	.dropdown-icon{
		max-width: 45px;
	}

	.header-nav{
		display:none;
	}

}

@media screen and (max-width: 510px) {

	html{
		font-size: 45%;
	}

	.header{
		height:max(80px, 15vw);
	}

	.header-container{
		height:max(80px, 15vw);
		grid-template-columns: 80% 20%;
		gap: 0;
		justify-items: end;
	}

	.header-logo{
		max-width: 252.40px;
		height: auto;
		justify-self: flex-start;
	}

	.header-dropdown{
		display:flex;
		align-items: center;
		grid-area: nav;
		width:fit-content;
		height:max(80px, 15vw);
	}

	.dropdown-toggle{
		width: fit-content;
		height: auto;
		display: flex;
		justify-content: flex-end;
	}

	.dropdown-menu{
		top: 70%;
		text-align: right;
		width: 110px;
		height: 110px;
		left: auto;
		right: 10%;
		min-width: 110px!important;
	}

	.dropdown-menu .header-item{
		font-size: 2rem;
	}


	.dropdown-icon{
		max-width: 30px;
		height: auto;
	}

	.header-nav{
		display:none;
	}	
}



