
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;	
	}

	html{
		font-size: 62.5%;
	}

	.item {
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		padding: max(7.5%, 20px) max(7.5%, 20px);
	}

	.sw-img {
		max-width: 100%;
		min-width: 100px;
		height: auto;
	}

	.item .product-info {
		max-width: 50%;
		min-width: 25%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
	}

	.item .product-brand {
		font-family: Inter;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 11px;
		color:#333333;
	}

	.item .product-character {
		font-family: Inter;
		font-size: 3.8rem;
		font-weight: 700;
		line-height: 46px;
		margin-bottom: 15.81px;
		color:#111111;
	}

	.item .product-description {
		font-family: Inter;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 29px;
		margin-bottom: 15.81px;
		color:#333333;
	}

	.item .product-price {
		font-family: Inter;
		font-size: 3.8rem;
		font-weight: 400;
		line-height: 46px;
		margin-bottom: 26px;
		color:#333333;
	}

	.item-purchase {
		display: flex;
		margin-bottom: 26px;
	}

	.item-number-selector {
		display: flex;
		gap: 12.84px;
		justify-content: center;
		align-items: center;
	}

	.minus,
	.plus {
		width: 38.35px;
		height: 38.35px;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	input[class="input-minus"], input[class="input-plus"] {
		width: 38.35px;
		height: 38.35px;
		background-color: #4F4F4F;
		color: white;
		border-style: none;
	}

	.input-minus:hover, .input-plus:hover{
		border:none;
		background-color: #4F4F4F;
	}

	.number, input[class="input-number"]{
		width: 38px;
		height: 32px;
		border: 0.5px solid #C9C9C9;
		background-color: #FFFFFF;
		color: #C9C9C9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.input-number::placeholder{
		text-align: center;
	}

	.cart, .button-cart {
		margin-left: 20.87px;
		background-color: #FF3333;
		color: white;
		padding: 8px 15px;
		font-family: Inter;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 22px;
	}

	input[class="button-cart"]{
		background-color: #FF3333;
		color: white;
		border:none;		
	}

	.payment-methods {
		font-family: Inter;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 17px;
		color: #1D84B5;
		margin-bottom: 26px;
	}

	.product-payment {
		color: #1D84B5;
		font-family: Inter;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 17px;
	}


@media screen and (max-width: 993px) and (min-width: 689px) {

	html{
		font-size: 50.5%
	}

	.cart{
		line-height: 15px;
		text-align: center;
	}

	.product-description{
		color: #333333;
	}

}

@media screen and (max-width: 688px){

	html{
		font-size: 48.5%;
	}

	.item{
		display: flex;
		flex-direction: column;
		padding: max(7.5%, 20px) max(6.5%, 20px) max(5.5%, 20px) ;
		width: 100%;
	}

	.sw-img{
		display: flex;
		max-width: 80%;
		justify-self: center;
	}

	.item .product-info{
		max-width: 100%;
	}
}