
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html{
		font-size: 62.5%;
	}

	.main {
		width: 100%;
		max-width: 100%;
		background-color: #F5F5F5;
		overflow-x: hidden;
	}

	/* empieza banner */

	.main-banner {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-image: url(../multimedia/funkos-banner.png);
		height: 388px;
		background-color: #C4C4C4;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.main-content {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left:max(7.5%, 20px);
		font-family: 'Raleway';
	}

	.main-content h4 {
		font-size: 3.8rem;
		font-weight: 700;
		line-height: 45px;

	}

	.main-content h6 {
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 21px;
		margin-top: 7px;
	}

	.main-link-shop {
		width: 211px;
		height: 47px;	
		background-color: white;
		text-decoration: none;
		border: none;
		border-radius: 50px;
		padding: 11px;
		font-family: 'Inter';
		font-size: 2rem;
		font-weight: 500;
		line-height: 24px;
		color: #111111;
		text-align: center;
	}

	/* termina banner */

	.main-products {
		padding: 0 max(7.5%, 20px);
	}

	.main-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 600px;
		grid-template-areas:
			"character image"
		;
		min-width: 300px;

	}

	.main-pk {
		display: grid;
		min-height: calc(100% - 144px);
		grid-template-columns: 50% 50%;
		grid-template-rows: 600px;
		grid-template-areas:
			"image character"
		;
	}

	.main-character {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-area: character;
		max-width: 100vw;
		min-width: 300px;
		height: auto;
	}

	.main-h4 {
		max-width: 441px;
		font-family: Raleway;
		font-size: 4.6rem;
		font-weight: 500;
		line-height: 54px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 6px;
	}

	.main-h6 {
		max-width: 458px;
		font-family: Raleway;
		color: #4F4F4F;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
	}

	.main-line {
		max-width: 645px;
		border: 3px solid #FF3333;
		margin-top: 28px;
	}

	.main-collection-button {
		width: 291px;
		height: 65px;
		margin-top: 34px;
		padding: 18px 38px;
		display: flex;
		justify-content: center;
		background-color: #30343F;
		text-decoration: none;
		border: none;
		border-radius: 50px;
		font-family: 'Inter';
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 29px;
		letter-spacing: 0em;
		color: white;
		text-align: center;
	}


	.main-image {
		grid-area: image;
		display: flex;
		align-self: center;
	}

	.item-img {
		max-width: 100%;
		height: auto;
	}


@media screen and (max-width: 993px) and (min-width: 689px) {

	html{
		font-size: 50%;
	}

	.main-banner{
		height:max(145px, 37vw);
	}
}