
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html{
		font-size: 62.5%;
	}

	.product-grid {
		max-width: calc(100vw - 245px);
		display: grid;
		justify-content: space-around;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto auto auto;
		column-gap: 30px;
		row-gap: 30px;
		grid-template-areas: 
		"product-1 product-2 product-3"
		"product-4 product-5 product-6"
		"product-7 product-8 product-9"
		"pages pages pages"
		;
	}

	.product{
		max-width: 500px;
		height: 100%;
		grid-area: product;
	}

	.img-product {
		min-width: 100px;
		max-width: 100%;
		height: auto;
	}

	.pages {
		padding: 0 max(7.5%, 20px);
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		grid-area: pages;
	}

	.pages:hover, .pages:focus{
		text-decoration: none;
	}

	.pagination-list{
		display: flex;			
		text-decoration: none;	
		align-self: center;
		margin:0;
	}

	.page-element{
		text-decoration: none;
		width: 44px;
		height: 44px;
		list-style: none;
		display: flex;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin: 0 4px;
		display:flex;
		align-items: center;		
		justify-content: center;
	}

	.page {
		width: 36px;
		height: 34px;
		padding: 5px 4px;
		font-family: Inter;
		font-size: 1.6rem;
		font-weight: 700;	
		letter-spacing: 0em;
		text-align: center;
		text-decoration: none;
		color:#212B36;		
	}
		
	
	.page-element:focus, .page-element:active{
		color:#FF3333;
		border: 1px solid #FF3333;
		background-color: #FF3333;
	}
	


@media screen and (max-width: 993px) and (min-width: 689px) {

	html{
		font-size: 50%;
	}

	.img-product {
		min-width: 131px;
		max-width: 100%;
		height: auto;
	}

}

@media screen and (max-width:688px){

	html{
		font-size: 35%;
	}

	.main-shop{
		max-width: 100vw;
		padding: max(1.5%, 10px) max(1.5%, 10px);
		align-items: center;
	}

	.sidebar-dropdown{
		display: flex;
		align-self: flex-start;
	}

	.product-grid{
		display:flex;
		flex-direction: column;
		max-width: 80vw;
		align-items: center;
	}

	.product{
		max-width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.img-product {
		max-width: 80%;
		min-width: 150px;
		height: auto;
	}

	.pages{
		display:none;
	}
}
