@media screen and (min-width:992px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.widget-last-releases {
		display: flex;
		flex-direction: column;
		padding: 0 100px;
	}

	.last-releases-tittle {
		font-family: Raleway;
		color: #111111;
		font-size: 46px;
		font-weight: 700;
		line-height: 54px;
		margin-bottom: 57px;
	}

	.last-releases {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-start;
	}

	.last-releases-img {
		max-width: 100%;
		height: auto;
		display: flex;
	}

	.release {
		display: flex;
		flex-direction: column;
		width: 33%;
	}

	.product-info {
		font-family: 'Inter';
		font-style: normal;
		line-height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 28px 14px 87px;
	}

	.product-brand {
		font-weight: 500;
		font-size: 14px;
		color: #333333;
	}

	.product-character {
		font-weight: 700;
		font-size: 18px;
		color: #111111;
	}

	.product-price {
		font-weight: 400;
		font-size: 16px;
		color: #333333;
	}

	.product-payment {
		font-weight: 700;
		font-size: 12px;
		color: #1D84B5;
	}

	.background-red {
		max-width: 97px;
		height: 30px;
		background-color: red;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 0;
		left: calc(100% - 97px);
	}

	.background-span {
		color: #FFF;
		font-size: 14px;
		font-family: 'Inter';
		font-weight: 500;
		padding: 5px 20px;
	}
}