<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@500&display=swap"
		rel="stylesheet">
		<link rel="stylesheet" href="../css/widget.css">
	<link rel="stylesheet" href="../css/addedToCart.css">
	<title>Modal Add to cart</title>
</head>

<body>
	<div class="modal-added">
		<div class="div-added">
			<img class="x-close" src="../multimedia/medios/x.svg" alt="">
			<h2 class="added-tittle">ITEM(S) AGREGADO(S) AL CARRITO</h2>
			<section class="product-added">
				<img class="product-img" src="../multimedia/harry-potter/harry-1.webp" alt="">
				<article class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">Harry Potter</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-quantity">Cantidad: 1</span>
					<input class="btn cart" type="button" value="VER CARRITO">
					<input class="btn shop" type="button" value="SEGUIR COMPRANDO">
				</article>
			</section>
		</div>
	</div>
</body>

</html>