<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../multimedia/icons/icono.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="../css/sidebar.css">
	<link rel="stylesheet" href="../css/product.css">
	<link rel="stylesheet" href="../css/widget.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="stylesheet" href="../css/item.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Funko Shop - PRODUCTO</title>
</head>
<body>
	<header class="header">
		<div class="header-container">
			<a href="../index.html" class="header-logo">
				<img class="logo" src="../multimedia/branding/logo_light_horizontal.svg" alt="">
			</a>
			<!-- Nav Menu -->
			<div class="header-nav">
				<ul class="header-links">
					<li class="links">
						<button class="shop-dropdown-button" >SHOP
							<span class="caret"></span></button>
						<div class="shop-dropdown-container">
							<ul class="dropdown-menu-shop" style="display:none">
								<li class="sublink"><a class="header-item" href="./shopView.html">Ver todo</a></li>
								<li class="sublink"><a class="header-item" href="./itemViewSW.html">Starwars Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewPK.html">Pokemon Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewHP.html">Harry Potter
										Collection</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="links"><a href="" class="header-item">CONTACTO</a></li>
					<li class="links"><a href="" class="header-item">LOGIN</a></li>
					<li class="links"><a href="" class="header-item"><img src="../multimedia/icons/cart-icon.svg" alt=""
								class="header-cart-icon"></a></li>
				</ul>
			</div>
			<!-- Dropdown menu -->
			<div class="header-dropdown">
				<button class="dropdown-button">
					<img class="dropdown-icon" src="../multimedia/icons/icons8-menu-60.png" alt="">
				</button>
				<ul class="dropdown-menu" style="display:none">
					<button class="shop-dropdown-button-small">SHOP
						<span class="caret"></span></button>
						<div class="shop-dropdown-container">
							<ul class="dropdown-menu-shop-small" style="display:none">
								<li class="sublink"><a class="header-item" href="./shopView.html">Ver todo</a></li>
								<li class="sublink"><a class="header-item" href="./itemViewSW.html">Starwars Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewPK.html">Pokemon Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewHP.html">Harry Potter
										Collection</a>
								</li>
							</ul>
						</div>
					</button>
					<li class="sublink"><a class="header-item" href="#">CONTACTO</a></li>
					<li class="sublink"><a class="header-item" href="#">LOGIN</a></li>
					<li class="sublink"><a class="header-item" href="#">CARRITO</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="item">
		<div class="whatsapp-div" id="whatsapp-div" style="display: none;"><a href="https://wa.me/" target="_blank" class="whatsapp-link"><img src="../multimedia/icons/whatsapp-icon.png" alt="" class="whatsapp-icon"></a></div>
		<img class="sw-img" src="../multimedia/pokemon/dragonite-1.webp" alt="">
		<div class="product-info">
			<h5 class="product-brand">POKEMON</h5>
			<h6 class="product-character">DRAGONITE</h6>
			<p class="product-description"> Figura coleccionable de Dragonite - Pokemon, edición limitada.</p>
			<span class="product-price">$ 1799,99.-</span>
			<div class="item-purchase">
				<div class="item-number-selector"> 
					<div class="minus"><input type="button" class="input-minus" value="-"></div>
					<div class="number"><input type="text" class="input-number" placeholder="0"></div>
					<div class="plus"><input type="button" class="input-plus" value="+"> </div>
				</div>
				<div class="cart"> <input type="button" class="button-cart" value="Agregar al carrito "></div>
			</div>
			
			<div class="payments">
				<a class="payment-methods" href="#"> Ver métodos de pago -</a>
				<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
			</div>
		</div>
	</div>
	<div class="widget-last-releases">
		<span class="last-releases-tittle">PRODUCTOS RELACIONADOS</span>
		<div class="last-releases">
			<div class="last-releases release">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="../multimedia/star-wars/trooper-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">STAR WARS</h5>
					<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="last-releases release">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="../multimedia/pokemon/pidgeotto-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">POKEMON</h5>
					<h6 class="product-character">PIDGEOTTO</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="last-releases release">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="../multimedia/harry-potter/luna-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="footer-container-small">
			<div class="footer-links">
				<ul class="links">
					<li><a class="footer-item" href="./shopView.html">SHOP</a></li>
					<li><a class="footer-item" href="">REGISTRARSE</a></li>
					<li><a class="footer-item" href="">INGRESAR</a></li>
					<li><a class="footer-item" href="">CONTACTO</a></li>
				</ul>
			</div>
			<div class="footer-logo"><img class="footer-img" src="../multimedia/branding/isotype.svg" alt=""></div>
			<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
		</div>

		<div class="footer-container-medium-large">
			<div class="footer-links">
				<ul class="links">
					<li><a class="footer-item" href="./shopView.html">SHOP</a></li>
					<li><a class="footer-item" href="">REGISTRARSE</a></li>
					<li><a class="footer-item" href="">INGRESAR</a></li>
					<li><a class="footer-item" href="">CONTACTO</a></li>
				</ul>
			</div>
			<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
			<div class="footer-logo"><img class="footer-img" src="../multimedia/branding/isotype.svg" alt=""></div>
		</div>
	</footer>
	<script src="../js/indexScript.js"></script>
</body>
</html>