<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../multimedia/icons/icono.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">	
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="../css/sidebar.css">
	<link rel="stylesheet" href="../css/product.css">
	<link rel="stylesheet" href="../css/widget.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/item.css">
	<link rel="stylesheet" href="../css/mediosDePago.css">
	<title>Funko Shop - PRODUCTO</title>
</head>
<body>
	<header class="header">
		<div class="header-container">
			<a href="../index.html" class="header-logo">
				<img class="logo" src="../multimedia/branding/logo_light_horizontal.svg" alt="">
			</a>
			<!-- Nav Menu -->
			<div class="header-nav">
				<ul class="header-links">
					<li class="links">
						<button class="shop-dropdown-button" >SHOP
							<span class="caret"></span></button>
						<div class="shop-dropdown-container">
							<ul class="dropdown-menu-shop" style="display:none">
								<li class="sublink"><a class="header-item" href="./shopView.html">Ver todo</a></li>
								<li class="sublink"><a class="header-item" href="./itemViewSW.html">Starwars Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewPK.html">Pokemon Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewHP.html">Harry Potter
										Collection</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="links"><a href="" class="header-item">CONTACTO</a></li>
					<li class="links"><a href="../views/loginView.html" class="header-item">LOGIN</a></li>
					<li class="links"><a href="" class="header-item"><img src="../multimedia/icons/cart-icon.svg" alt=""
								class="header-cart-icon"></a></li>
				</ul>
			</div>
			<!-- Dropdown menu -->
			<div class="header-dropdown">
				<button class="dropdown-button">
					<img class="dropdown-icon" src="../multimedia/icons/icons8-menu-60.png" alt="">
				</button>
				<ul class="dropdown-menu" style="display:none">
					<button class="shop-dropdown-button-small">SHOP
						<span class="caret"></span></button>
						<div class="shop-dropdown-container">
							<ul class="dropdown-menu-shop-small" style="display:none">
								<li class="sublink"><a class="header-item" href="./shopView.html">Ver todo</a></li>
								<li class="sublink"><a class="header-item" href="./itemViewSW.html">Starwars Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewPK.html">Pokemon Collection</a>
								</li>
								<li class="sublink"><a class="header-item" href="./itemViewHP.html">Harry Potter
										Collection</a>
								</li>
							</ul>
						</div>
					</button>
					<li class="sublink"><a class="header-item" href="#">CONTACTO</a></li>
					<li class="sublink"><a class="header-item" href="../views/loginView.html">LOGIN</a></li>
					<li class="sublink"><a class="header-item" href="#">CARRITO</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="whatsapp-div" id="whatsapp-div" style="display: none;"><a href="https://wa.me/" target="_blank" class="whatsapp-link"><img src="../multimedia/icons/whatsapp-icon.png" alt="" class="whatsapp-icon"></a></div>
	<div class="item">
		<img class="sw-img" src="../multimedia/harry-potter/hermione-1.webp" alt="">
		<div class="product-info">
			<h5 class="product-brand">HARRY POTTER</h5>
			<h6 class="product-character">HERMIONE GRANGER</h6>
			<p class="product-description"> Figura coleccionable de Hermione Granger - Baile de Navidad - Harry Potter Saga, edición limitada.</p>
			<span class="product-price">$ 1799,99.-</span>
			<div class="item-purchase">
				<div class="item-number-selector"> 
					<div class="minus"><input type="button" class="input-minus" value="-"></div>
					<div class="number"><input type="text" class="input-number" placeholder="0"></div>
					<div class="plus"><input type="button" class="input-plus" value="+"> </div>
				</div>
				<div class="cart"> <input type="button" class="button-cart" value="Agregar al carrito "></div>
			</div>
			<div class="payments">
				<a class="payment-methods"> Ver métodos de pago -</a>
				<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
			</div>
		</div>
	</div>

	<div class="modal-medios">

		<div class="div-medios">

			<div class="x-close"></div>

			<h2 class="medios-tittle">Medios de pago para este producto</h2>
			<p class="medios-paragraph">Podés pagar tus compras con cualquier de estos medios. Es rápido y seguro
				siempre.
			</p>

			<div class="medios-line"></div>

			<h3 class="medios-tittle">Tarjetas de crédito</h3>

			<p class="medios-paragraph">Acreditación instantánea</p>

			<h3 class="medios-tittle">Mismo precios en hasta 9 cuotas con estas bancos:</h3>

			<div class="medios-bancos">

				<div class=" santander"><img class="banco" src="../multimedia/medios/santander.svg" alt=""></div>
				<div class=" icbc"><img class="banco" src="../multimedia/medios/icbc.svg" alt=""></div>
				<div class=" bbva"><img class="banco" src="../multimedia/medios/bbva.svg" alt=""></div>
				<div class="galicia"><img class="banco " src="../multimedia/medios/galicia.svg" alt=""></div>


			</div>

			<h3 class="medios-tittle">O hasta 12 cuotas con interés</h3>

			<div class="medios-bancos">

				<div class="mastercard"><img class="tarjeta" src="../multimedia/medios/mastercard.svg" alt=""></div>
				<div class="visa"><img class="tarjeta" src="../multimedia/medios/visa.svg" alt=""></div>
				<div class="paypal"><img class="tarjeta" src="../multimedia/medios/paypal.svg" alt=""></div>
				<div class="naranja"><img class="tarjeta" src="../multimedia/medios/naranja.svg" alt=""></div>
				<div class="cabal"><img class="tarjeta" src="../multimedia/medios/cabal.svg" alt=""></div>

			</div>

			<h3 class="medios-tittle">Dinero en tu cuenta de Mercado Pago</h3>

			<p class="medios-paragraph">Al finalizar tu compra, pagás con el dinero disponible en tu cuenta. Podés
				ingresar
				dinero a Mercado Pago por Débito inmediato, transferencia bancaria o en efectivo.</p>

			<p class="medios-paragraph">Acreditación instantánea.</p>

			<div class="medios-bancos">

				<div class="mercadoPago"><img class="pagoVirtual" src="../multimedia/medios/mercadoPago.svg" alt="">
				</div>
			</div>

			<div class="medios-line"></div>

			<h3 class="medios-tittle">Dinero en efectivo a traves de:</h3>

			<div class="medios-bancos">

				<div><img class="pagofacil" src="../multimedia/medios/pagofacil.png" alt=""></div>
				<div><img class="rapipago" src="../multimedia/medios/rapipago.png" alt=""></div>

			</div>
		</div>
	</div>
	<div class="carrouselContenedor">
		<div class="carrousel">
			<span class="last-releases-tittle">ÚLTIMOS LANZAMIENTOS</span>
			<ul class="puntos">
				<li class="punto punto1"></li>
				<li class="punto punto2"></li>
				<li class="punto punto3"></li>
			</ul>

			<div class="contenedorGrande">
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/star-wars/trooper-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">STAR WARS</h5>
						<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/pokemon/pidgeotto-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">POKEMON</h5>
						<h6 class="product-character">PIDGEOTTO</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/harry-potter/luna-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">HARRY POTTER</h5>
						<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/star-wars/luke-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">STAR WARS</h5>
						<h6 class="product-character">LUKE SKYWALKER & GROGU</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/pokemon/pikachu-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">POKEMON</h5>
						<h6 class="product-character">PIKACHU</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
				<div class="itemCarrousel">
					<div class="background-red">
						<span class="background-span">NUEVO</span>
					</div>
					<img class="last-releases-img" src="../multimedia/harry-potter/harry-1.webp" alt="">
					<div class="product-info">
						<h5 class="product-brand">HARRY POTTER</h5>
						<h6 class="product-character">HARRY POTTER & HEDWIG</h6>
						<span class="product-price">$ 1799,99.-</span>
						<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="footer-container-small">
			<div class="footer-links">
				<ul class="links">
					<li><a class="footer-item" href="./shopView.html">SHOP</a></li>
					<li><a class="footer-item" href="../views/registerView.html">REGISTRARSE</a></li>
					<li><a class="footer-item" href="../views/loginView.html">INGRESAR</a></li>
					<li><a class="footer-item" href="">CONTACTO</a></li>
				</ul>
			</div>
			<div class="footer-logo"><img class="footer-img" src="../multimedia/branding/isotype.svg" alt=""></div>
			<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
		</div>

		<div class="footer-container-medium-large">
			<div class="footer-links">
				<ul class="links">
					<li><a class="footer-item" href="./shopView.html">SHOP</a></li>
					<li><a class="footer-item" href="../views/registerView.html">REGISTRARSE</a></li>
					<li><a class="footer-item" href="../views/loginView.html">INGRESAR</a></li>
					<li><a class="footer-item" href="">CONTACTO</a></li>
				</ul>
			</div>
			<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
			<div class="footer-logo"><img class="footer-img" src="../multimedia/branding/isotype.svg" alt=""></div>
		</div>
	</footer>
	<script src="../js/indexScript.js"></script>
	<script src="../js/itemScript.js"></script>
	<script src="../js/carrouselScript.js"></script>4
	<script src="../js/mediosDePago.js"></script>
</body>
</html>