<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/mediosDePago.css">    
</head>

<div class="modal-medios">

    <div class="div-medios">

        <div class="x-close"></div>

        <h2 class="medios-tittle">Medios de pago para este producto</h2>
        <p class="medios-paragraph">Podés pagar tus compras con cualquier de estos medios. Es rápido y seguro siempre.
        </p>

        <div class="medios-line"></div>

        <h3 class="medios-tittle">Tarjetas de crédito</h3>

        <p class="medios-paragraph">Acreditación instantánea</p>

        <h3 class="medios-tittle">Mismo precios en hasta 9 cuotas con estas bancos:</h3>

        <div class="medios-bancos">

            <div class=" santander"><img class="banco" src="../multimedia/medios/santander.svg" alt=""></div>
            <div class=" icbc"><img class="banco" src="../multimedia/medios/icbc.svg" alt=""></div>
            <div class=" bbva"><img class="banco" src="../multimedia/medios/bbva.svg" alt=""></div>
            <div class="galicia"><img class="banco " src="../multimedia/medios/galicia.svg" alt=""></div>


        </div>

        <h3 class="medios-tittle">O hasta 12 cuotas con interés</h3>

        <div class="medios-bancos">

            <div class="mastercard"><img class="tarjeta" src="../multimedia/medios/mastercard.svg" alt=""></div>
            <div class="visa"><img class="tarjeta" src="../multimedia/medios/visa.svg" alt=""></div>
            <div class="paypal"><img class="tarjeta" src="../multimedia/medios/paypal.svg" alt=""></div>
            <div class="naranja"><img class="tarjeta" src="../multimedia/medios/naranja.svg" alt=""></div>
            <div class="cabal"><img class="tarjeta" src="../multimedia/medios/cabal.svg" alt=""></div>

        </div>

        <h3 class="medios-tittle">Dinero en tu cuenta de Mercado Pago</h3>

        <p class="medios-paragraph">Al finalizar tu compra, pagás con el dinero disponible en tu cuenta. Podés ingresar
            dinero a Mercado Pago por Débito inmediato, transferencia bancaria o en efectivo.</p>

        <p class="medios-paragraph">Acreditación instantánea.</p>

        <div class="medios-bancos">

            <div class="mercadoPago"><img class="pagoVirtual" src="../multimedia/medios/mercadoPago.svg" alt=""></div>
        </div>

        <div class="medios-line"></div>

        <h3 class="medios-tittle">Dinero en efectivo a traves de:</h3>

        <div class="medios-bancos">

            <div><img class="pagofacil" src="../multimedia/medios/pagofacil.png" alt=""></div>
            <div><img class="rapipago" src="../multimedia/medios/rapipago.png" alt=""></div>              

        </div>


    </div>