<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../multimedia/icons/icono.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@500&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="../css/sidebar.css">
	<link rel="stylesheet" href="../css/widget.css">
	<link rel="stylesheet" href="../css/product.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Funko Shop - SHOP</title>
</head>

<body>
	<header class="header">
		<div class="header-container">
			<a href="../index.html" class="header-logo">
				<img src="../multimedia/branding/logo_light_horizontal.svg" alt="">
			</a>
			<div class="header-nav">
				<ul class="header-links">
					<div class="dropdown header-item">
						<button class="dropdown-toggle" type="button" data-toggle="dropdown">SHOP
							<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a class="header-item" href="shopView.html">Ver todo</a></li>
							<li><a class="header-item" href="#">Starwars Collection</a></li>
							<li><a class="header-item" href="#">Pokemon Collection</a></li>
							<li><a class="header-item" href="#">Harry Potter Collection</a></li>
						</ul>
					</div>
					<li><a href="" class="header-item">CONTACTO</a></li>
					<li><a href="" class="header-item">LOGIN</a></li>
					<li><a href="" class="header-item"><img src="../multimedia/icons/cart-icon.svg" alt=""
								class="header-cart-icon"></a></li>
				</ul>
			</div>
		</div>
	</header>
	<main class="main-shop">
		<aside class="sidebar">
			<span class="options search">BUSCAR<input type="search" placeholder="item o categoría"
					class="input search-input"></span>
			<span class="options order">ORDENAR POR
				<select class="input order-input" name="" id="">
					<option value="">Mayor a menor</option>
					<option value="">Menor a mayor</option>
				</select>
			</span>
			<span class="options price">PRECIO
				<div class="price-options">
					<span class="min-price">MIN <input type="text" placeholder="0" class="input price-input"></span>
					<span class="max-price">- MAX <input type="text" placeholder="0" class="input price-input"></span>
				</div>
			</span>
			<span class="options filter">FILTRAR
				<div class="checkbox-options">
					<div class="label-filter"><input type="checkbox" class="checkbox-filter">NUEVOS</div>
					<div class="label-filter"><input type="checkbox" class="checkbox-filter">OFERTAS</div>
					<div class="label-filter"><input type="checkbox" class="checkbox-filter">EDICIÓN
						ESPECIAL</div>
					<div class="label-filter"><input type="checkbox" class="checkbox-filter">FAVORITOS</div>
				</div>

			</span>
		</aside>
		<div class="product-grid">
			<div class="product">
				<img src="../multimedia/star-wars/trooper-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">STAR WARS</h5>
					<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/pokemon/pidgeotto-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">POKEMON</h5>
					<h6 class="product-character">PIDGEOTTO</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/harry-potter/luna-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/star-wars/trooper-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">STAR WARS</h5>
					<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/pokemon/pidgeotto-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">POKEMON</h5>
					<h6 class="product-character">PIDGEOTTO</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/harry-potter/luna-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/star-wars/trooper-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">STAR WARS</h5>
					<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/pokemon/pidgeotto-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">POKEMON</h5>
					<h6 class="product-character">PIDGEOTTO</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="product">
				<img src="../multimedia/harry-potter/luna-1.webp" alt="" class="img-product">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
		</div>
	</main>
	<div class="pages">
		<div class="page-element"><span class="page" href="#"><img src="../multimedia/Vector.png" alt=""></span></div>
		<div class="page-element"><span class="page" href="#">1</span></div>
		<div class="page-element"><span class="page" href="#">2</span></div>
		<div class="page-element"><span class="page" href="#">...</span></div>
		<div class="page-element"><span class="page" href="#">9</span></div>
		<div class="page-element"><span class="page" href="#">10</span></div>
		<div class="page-element"><span class="page" href="#"><img src="../multimedia/Vectorderecha.png" alt=""> </span>
		</div>
	</div>
	<footer class="footer">
		<footer class="footer">
			<div class="footer-container">
				<div class="footer-links">
					<ul class="links">
						<li><a class="footer-item" href="./views/shopView.html">SHOP</a></li>
						<li><a class="footer-item" href="">REGISTRARSE</a></li>
						<li><a class="footer-item" href="">INGRESAR</a></li>
						<li><a class="footer-item" href="">CONTACTO</a></li>
					</ul>
				</div>
				<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
				<div class="footer-logo"><img src="../multimedia/branding/isotype.svg" alt=""></div>
			</div>
		</footer>
</body>

</html>