<%- include('partials/header') %>


<main class="main">
	<div class="whatsapp-div" id="whatsapp-div" style="display: none;"><a href="https://wa.me/" target="_blank"
			class="whatsapp-link"><img src="./multimedia/icons/whatsapp-icon.png" alt="" class="whatsapp-icon"></a>
	</div>
	<div class="main-banner">
		<div class="main-content">
			<h4 class="main-h4">Nuevos Ingresos</h4>
			<h6 class="main-h6">Descubrí el próximo Funko Pop de tu colección</h6>
			<a href="./views/shopView.html" class="main-link-shop">SHOP</a>
		</div>
	</div>
	<div class="main-products">
		<div class="main-container main-sw">
			<div class="main-character">
				<h4 class="main-h4">STAR WARS & THE MANDALORIAN </h4>
				<h6 class="main-h6">Disfruta de una saga que sigue agregando personajes a su colección.</h6>
				<hr class="main-line">
				<a href="./views/itemViewSW.html" class="main-collection-button">VER COLECCIÓN</a>
			</div>
			<div class="main-image">
				<img class="item-img" src="./multimedia/star-wars/baby-yoda-1.webp" alt="">
			</div>
		</div>
		<div class="main-container main-pk">
			<div class="main-image">
				<img class="item-img" src="./multimedia/pokemon/vulpix-1.webp" alt="">
			</div>
			<div class="main-character main-pokemon">
				<h4 class="main-h4">POKEMON INDIGO </h4>
				<h6 class="main-h6">Atrapa todos los que puedas y disfruta de una colección llena de amigos.</h6>
				<hr class="main-line">
				<a href="./views/itemViewPK.html" class="main-collection-button">VER COLECCIÓN</a>
			</div>
		</div>
		<div class="main-container">
			<div class="main-character main-harry-potter">
				<h4 class="main-h4">HARRY POTTER</h4>
				<h6 class="main-h6">Revive los recuerdos de una saga llena de magia y encanto.</h6>
				<hr class="main-line">
				<a href="./views/itemViewHP.html" class="main-collection-button">VER COLECCIÓN</a>
			</div>
			<div class="main-image">
				<img class="item-img" src="./multimedia/harry-potter/snape-patronus-1.webp" alt="">
			</div>
		</div>
	</div>
</main>
<div class="carrouselContenedor">
	<div class="carrousel">
		<span class="last-releases-tittle">ÚLTIMOS LANZAMIENTOS</span>
		<div class="contenedorGrande">
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/star-wars/trooper-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">STAR WARS</h5>
					<h6 class="product-character">STORMTROOPER LIGHTSABER</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/pokemon/pidgeotto-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">POKEMON</h5>
					<h6 class="product-character">PIDGEOTTO</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/harry-potter/luna-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/harry-potter/luna-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/harry-potter/luna-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
			<div class="itemCarrousel">
				<div class="background-red">
					<span class="background-span">NUEVO</span>
				</div>
				<img class="last-releases-img" src="./multimedia/harry-potter/luna-1.webp" alt="">
				<div class="product-info">
					<h5 class="product-brand">HARRY POTTER</h5>
					<h6 class="product-character">LUNA LOVEGOOD LION MASK</h6>
					<span class="product-price">$ 1799,99.-</span>
					<span class="product-payment">3 CUOTAS SIN INTERÉS</span>
				</div>
			</div>
		</div>
		<ul class="puntos">
			<li class="punto"></li>
			<li class="punto"></li>
		</ul>
	</div>
</div>

<%- include('partials/footer') %>
