<footer class="footer">
	<div class="footer-container-small">
		<div class="footer-links">
			<ul class="links">
				<li><a class="footer-item" href="./views/shopView.html">SHOP</a></li>
				<li><a class="footer-item" href="./views/registerView.html">REGISTRARSE</a></li>
				<li><a class="footer-item" href="./views/loginView.html">INGRESAR</a></li>
				<li><a class="footer-item" href="./views/contactoView.html">CONTACTO</a></li>
			</ul>
		</div>
		<div class="footer-logo"><img class="footer-img" src="./multimedia/branding/isotype.svg" alt=""></div>
		<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
	</div>

	<div class="footer-container-medium-large">
		<div class="footer-links">
			<ul class="links">
				<li><a class="footer-item" href="./views/shopView.html">SHOP</a></li>
				<li><a class="footer-item" href="./views/registerView.html">REGISTRARSE</a></li>
				<li><a class="footer-item" href="./views/loginView.html">INGRESAR</a></li>
				<li><a class="footer-item" href="./views/contactoView.html">CONTACTO</a></li>
			</ul>
		</div>
		<span class="footer-rights">All rights reserved 2022 - Funkoshop &copy;</span>
		<div class="footer-logo"><img class="footer-img" src="./multimedia/branding/isotype.svg" alt=""></div>
	</div>
</footer>
<script type="module" src="./js/moduloIndex.js"></script>
</body>

</html>